<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*

<dom-module id="gestor-usuarios">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .container{
        min-width: 100%;
      }
      h2{
        text-align: center;
      }
      button{
        min-width: 50%;
      }
      div{
        padding-bottom: 5px;
      }
    </style>

    <div class="container">
        <h2>Gestor de Usuarios</h2>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            Email:
          </div>
          <div class="col-lg-3">
            <input type="email" value="{{email::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            Password:
          </div>
          <div class="col-lg-3">
            <input type="password" value="{{password::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 text-center">
            <button on-click="altaUsuario" class="btn btn-success">Alta de usuario</button>
          </div>
          <div class="col-lg-4 text-center">
            <button on-click="actualizarPassword" class="btn btn-primary">Actualizar password</button>
          </div>
          <div class="col-lg-4 text-center">
            <button on-click="eliminarUsuario" class="btn btn-danger">Eliminar usuario</button>
          </div>
        </div>
    </div>

    <iron-ajax
      id="doAltaUsuario"
      url="http://localhost:3001/AltaUsuario"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "ResponseAltaUsuario"
      on-error = "showErrorAltaUsuario">

    <iron-ajax
      id="doEliminarUsuario"
      url="http://localhost:3001/EliminarUsuario"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "DELETE"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "ResponseEliminarUsuario"
      on-error = "showErrorEliminarUsuario">


    <iron-ajax
      id="doActualizarPassword"
      url="http://localhost:3001/ActualizarPassword"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "PUT"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "ResponseActualizarPassword"
      on-error = "showErrorActualizarPassword">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      altaUsuario(){
        var userData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(userData);
        this.$.doAltaUsuario.body = JSON.stringify(userData);
        this.$.doAltaUsuario.generateRequest();
        console.log("Petición enviada");
      }
      ResponseAltaUsuario(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        alert("Se ha dado de alta con éxito el nuevo usuario");
        //console.log(data.detail.response);
      }
      showErrorAltaUsuario(){
        console.log("Hubo un error en iron-ajax");
        alert("Es necesario proporcionar un email y password para dar de alta un usuario, favor de ingresarlos");
        console.log("error");
      }
      actualizarPassword(){
        var userData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(userData);
        this.$.doActualizarPassword.body = JSON.stringify(userData);
        this.$.doActualizarPassword.generateRequest();
        console.log("Petición enviada");
      }
      ResponseActualizarPassword(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        alert("Se ha acualizado correctamente la password del usuario");
        //console.log(data.detail.response);
      }
      showErrorActualizarPassword(){
        console.log("Hubo un error en iron-ajax");
        alert("No se ha podido actualizar la password, es necesario proporcionar el email del usuario a actualizar e ingresar una nueva password");
        console.log("error");
      }
      eliminarUsuario(){
        var userData = {
          "email" : this.email
        };
        console.log(userData);
        this.$.doEliminarUsuario.body = JSON.stringify(userData);
        this.$.doEliminarUsuario.generateRequest();
        console.log("Petición enviada");
      }
      ResponseEliminarUsuario(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        alert("Se ha eliminado correctamente del sistema el usuario ingresado");
        //console.log(data.detail.response);
      }
      showErrorEliminarUsuario(){
        console.log("Hubo un error en iron-ajax");
        alert("No se ha podido eliminar al usuario, verifique que existe el usuario proporcionado");
        console.log("error");
      }

    }

    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
