<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .container{
        min-width: 100%;
      }
      h2{
        text-align: center;
      }
      div{
        padding-bottom: 5px;
      }
      h3{
        padding-bottom: 5px;
        padding-top: 5px;
      }
    </style>

    <div class="container">
        <h2>Gestor de Clientes</h2>
        <div class="row">
          <div class="col-lg-3">
            ID de cliente:
          </div>
          <div class="col-lg-3">
            <input type="text" value="{{_id::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Nombre:
          </div>
          <div class="col-lg-3">
            <input type="text" value="{{nombre::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Apellido:
          </div>
          <div class="col-lg-3">
            <input type="text" value="{{apellido::input}}" />
          </div>
        </div>
        <div class="row">
          <h3>Movimientos:</h3>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Fecha:
          </div>
          <div class="col-lg-3">
            <input type="date" value="{{fecha::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Importe:
          </div>
          <div class="col-lg-3">
            <input type="number" step="0.01" value="{{importe::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Categoria:
          </div>
          <div class="col-lg-3">
            <input type="text" value="{{categoria::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <button on-click="obtenerMovimientos" class="btn btn-primary" type="button" name="button">Obtener movimientos por cliente</button>
          </div>
          <div class="col-lg-3">
            <button on-click="obtenerClientes" class="btn btn-primary" type="button" name="button">Obtener clientes</button>
          </div>
          <div class="col-lg-3">
            <button on-click="insertarCliente" class="btn btn-success" type="button" name="button">Insertar cliente</button>
          </div>
          <div class="col-lg-3">
            <button on-click="insertarMovimiento" class="btn btn-success" type="button" name="button">Insertar movimiento por cliente</button>
          </div>
        </div>
      <div class="w-100" hidden$={{!seleccionadoObtenerClientes}}>
        <h3>Listado de clientes en el sistema: </h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cliente ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </tr>
          </thead>
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>
                    [[item._id]]
                  </td>
                  <td>
                    [[item.nombre]]
                  </td>
                  <td>
                    [[item.apellido]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
      <div class="w-100" hidden$={{!seleccionadoObtenerMovimientos}}>
        <h3>Listado de movimientos del cliente</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Importe</th>
              <th scope="col">Categoria</th>
            </tr>
          </thead>
            <tbody>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>
                    [[item.fecha]]
                  </td>
                  <td>
                    [[item.importe]]
                  </td>
                  <td>
                    [[item.categoria]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>
          <canvas id="myChart" min-width="100%" height="100px"></canvas>
      </div>
    </div>

    <iron-ajax
      id="doAltaCliente"
      url="http://localhost:3001/AltaCliente"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "ResponseAltaCliente"
      on-error = "showErrorAltaCliente">

      <iron-ajax
        id="doAltaMovimiento"
        url="http://localhost:3001/AltaMovimiento"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method = "PUT"
        handle-as = "json"
        headers = "Access-Control-Allow-Headers: *"
        on-response = "ResponseAltaMovimiento"
        on-error = "showErrorAltaMovimiento">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          _id: {
            type: String
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          fecha: {
            type: Date
          },
          importe: {
            type: Number
          },
          categoria: {
            type: String
          },
          clientes: {
            type: Array,
            notify: true
          },
          movimientos: {
            type: Array,
            notify: true
          },
          respuesta: {
            type: Array,
            notify: true
          },
          seleccionadoObtenerClientes: {
            type: Boolean,
            value: false
          },
          seleccionadoObtenerMovimientos: {
            type: Boolean,
            value: false
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET","http://localhost:3001/Clientes", false);
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText)
        console.log(this.clientes);
        this.seleccionadoObtenerClientes = true;
        this.seleccionadoObtenerMovimientos = false;
      }
      obtenerMovimientos(){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3001/MovimientosIdCliente/"+this._id;
        var arregloFechas = [];
        var arregloImportes = [];
        console.log(url);
        request.open("GET", url, false);
        request.send();
        this.respuesta = JSON.parse(request.responseText);
        console.log(this.respuesta);
        this.movimientos = this.respuesta[0].movimientos;
        this.movimientos.forEach(element => {
          arregloFechas.push(element['fecha']);
          arregloImportes.push(element['importe']);
        })
        console.log("fechas: " + arregloFechas);
        console.log("importes: " + arregloImportes);
        var ctx = this.$['myChart'].getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: arregloFechas,
            datasets: [{
              label: 'Gráfica de movimientos del cliente',
              data: arregloImportes,
              fill: false,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          this.seleccionadoObtenerClientes = false;
          this.seleccionadoObtenerMovimientos = true;
      }
      insertarCliente(){
        var clienteData = {
          "idcliente" : this._id,
          "nombre": this.nombre,
          "apellido" : this.apellido,
          "movimientos": []
        };
        console.log(clienteData);
        this.$.doAltaCliente.body = JSON.stringify(clienteData);
        this.$.doAltaCliente.generateRequest();
        console.log("Petición enviada");
      }
      ResponseAltaCliente(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        alert("El nuevo cliente se ha creado con éxito");
        //console.log(data.detail.response);
        this.seleccionadoObtenerClientes = false;
        this.seleccionadoObtenerMovimientos = false;
      }
      showErrorAltaCliente(){
        console.log("Hubo un error en iron-ajax");
        alert("No se ha podido dar de alta el cliente");
        console.log("error");
        this.seleccionadoObtenerClientes = false;
        this.seleccionadoObtenerMovimientos = false;
      }
      insertarMovimiento(){
        var movimientoData = {
          "idcliente" : this._id,
          "fecha": this.fecha,
          "importe" : this.importe,
          "categoria": this.categoria
        };
        console.log(movimientoData);
        this.$.doAltaMovimiento.body = JSON.stringify(movimientoData);
        this.$.doAltaMovimiento.generateRequest();
        console.log("Petición enviada");
      }
      ResponseAltaMovimiento(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        alert("Se ha registrado el nuevo movimiento con éxito en el cliente proporcionado");
        //console.log(data.detail.response);
        this.seleccionadoObtenerClientes = false;
        this.seleccionadoObtenerMovimientos = false;
      }
      showErrorAltaMovimiento(){
        console.log("Hubo un error en iron-ajax");
        alert("No se ha podido dar de alta el movimiento");
        console.log("error");
        this.seleccionadoObtenerClientes = false;
        this.seleccionadoObtenerMovimientos = false;
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
