<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/menu-app/menu-app.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes.html">

Access-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .container{
        min-width: 100%;
      }
      menu-app{
        min-width: 100%;
      }
      h1{
        text-align: center;
      }
      button{
        min-width: 50%;
      }
      div{
        padding-bottom: 5px;
      }
    </style>

    <div class="container">
      <div hidden$={{logeado}}>
        <h1>Ingreso a la app</h1>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            Email:
          </div>
          <div class="col-lg-3">
            <input type="email" value="{{email::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            Password:
          </div>
          <div class="col-lg-3">
            <input type="password" value="{{password::input}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 text-center">
            <button on-click="login" class="btn btn-success">Login</button>
          </div>
        </div>
      </div>
      <div class="row" hidden$={{!logeado}}>
        <menu-app></menu-app>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3001/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logeado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        //console.log(data.detail.response);
        this.logeado = true;
      }
      showError(){
        console.log("Hubo un error en iron-ajax");
        alert("Datos ingresado incorrectos, por favor valide");
        console.log("error");
        this.logeado = false;
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
