<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes.html">
<link rel="import" href="/src/gestor-usuarios/gestor-usuarios.html">
<link rel="import" href="/src/visor-empleados/visor-empleados.html">

<dom-module id="menu-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .container{
        min-width: 100%;
      }
      .navbar{
        min-width: 100%;
      }
      gestor-clientes{
        min-width: 100%;
      }
      login-app{
        min-width: 100%;
      }
      img{
        min-width: 100%;
        min-height: 100%;
      }
      gestor-usuarios{
        min-width: 100%;
      }
    </style>

    <div class="container">
    <div class="row" hidden$={{!menuVisible}}>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" on-click="mostrarInicio">Inicio</a>
              <a class="nav-item nav-link" on-click="mostrarGestorClientes">Gestor de Clientes</a>
              <a class="nav-item nav-link" on-click="mostrarGestorUsuarios">Gestor de Usuarios</a>
              <a class="nav-item nav-link" on-click="mostrarEmpleados">Lista de empleados</a>
              <a class="nav-item nav-link" on-click="cerrarSesion">Cerrar Sesión</a>
            </div>
        </div>
      </nav>
    </div>
      <div class="row" hidden$={{!seleccionadoInicio}}>
        <img src="https://bitbucket.org/DavidMB96/polymer/raw/25065417e73d21c76b5e3b8b383d94f05c04375d/inicio.png"/>
      </div>
      <div class="row" hidden$={{!seleccionadoCerrarSesion}}>
        <login-app></login-app>
      </div>
      <div class="row" hidden$={{!seleccionadoGestorClientes}}>
        <gestor-clientes></gestor-clientes>
      </div>
      <div class="row" hidden$={{!seleccionadoGestorUsuarios}}>
        <gestor-usuarios></gestor-usuarios>
      </div>
      <div class="row" hidden$={{!seleccionadoListaEmpleados}}>
        <visor-empleados></visor-empleados>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MenuApp extends Polymer.Element {
      static get is() { return 'menu-app'; }
      static get properties() {
        return {
          seleccionadoInicio: {
            type: Boolean,
            value: true
          },
          seleccionadoCerrarSesion: {
            type: Boolean,
            value: false
          },
          seleccionadoGestorClientes: {
            type: Boolean,
            value: false
          },
          seleccionadoGestorUsuarios: {
            type: Boolean,
            value: false
          },
          seleccionadoListaEmpleados: {
            type: Boolean,
            value: false
          },
          menuVisible: {
            type: Boolean,
            value: true
          }
        };
      }
      mostrarInicio(){
        this.seleccionadoInicio = true;
        this.seleccionadoCerrarSesion = false;
        this.seleccionadoGestorClientes = false;
        this.seleccionadoGestorUsuarios = false;
        this.seleccionadoListaEmpleados = false;
      }
      mostrarGestorClientes(){
        this.seleccionadoInicio = false;
        this.seleccionadoCerrarSesion = false;
        this.seleccionadoGestorClientes = true;
        this.seleccionadoGestorUsuarios = false;
        this.seleccionadoListaEmpleados = false;
      }
      mostrarGestorUsuarios(){
        this.seleccionadoInicio = false;
        this.seleccionadoCerrarSesion = false;
        this.seleccionadoGestorClientes = false;
        this.seleccionadoGestorUsuarios = true;
        this.seleccionadoListaEmpleados = false;
      }
      mostrarEmpleados(){
        this.seleccionadoInicio = false;
        this.seleccionadoCerrarSesion = false;
        this.seleccionadoGestorClientes = false;
        this.seleccionadoGestorUsuarios = false;
        this.seleccionadoListaEmpleados = true;
      }
      cerrarSesion(){
        this.seleccionadoInicio = false;
        this.seleccionadoCerrarSesion = true;
        this.seleccionadoGestorClientes = false;
        this.seleccionadoGestorUsuarios = false;
        this.menuVisible = false;
        this.seleccionadoListaEmpleados = false;
      }
    }

    window.customElements.define(MenuApp.is, MenuApp);
  </script>
</dom-module>
