<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-empleados">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
    :host {
      display: block;
    }
    .container{
      min-width: 100%;
    }
    button{
      min-width: 100%;
    }
    div{
      padding-bottom: 5px;
    }
    </style>

    <div class="container">
      <div class="row">
        <div class="text-center">
          <button on-click="obtenerEmpleados" class="btn btn-primary" type="button" name="button">Obtener lista de empleados</button>
        </div>
      </div>
    <div class="row" hidden$={{!seleccionadoObtenerListaEmpleado}}>
      <div class="text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Puesto</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Pais</th>
              <th scope="col">Telefono</th>
            </tr>
          </thead>
            <tbody>
              <template is="dom-repeat" items="{{empleados}}">
                <tr>
                  <td>
                    [[item.FirstName]]
                  </td>
                  <td>
                    [[item.LastName]]
                  </td>
                  <td>
                    [[item.Title]]
                  </td>
                  <td>
                    [[item.City]]
                  </td>
                  <td>
                    [[item.Country]]
                  </td>
                  <td>
                    [[item.HomePhone]]
                  </td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorEmpleados extends Polymer.Element {
      static get is() { return 'visor-empleados'; }
      static get properties() {
        return {
          empleados: {
            type: Array,
            notify: true
          },
          seleccionadoObtenerListaEmpleado: {
            type: Boolean,
            value: false
          }
        };
      }
      obtenerEmpleados(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Employees", false);
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.empleados = JSON.parse(request.responseText).value;
        console.log(this.empleados);
        this.seleccionadoObtenerListaEmpleado = true;
      }
    }

    window.customElements.define(VisorEmpleados.is, VisorEmpleados);
  </script>
</dom-module>
